:root {
  --social-color: rgba(255, 255, 255, 0.1);
  --color-icon: #afb1b8;
  --backgraund-hero: #c4c4c4;
  --bgn-btnaction: #188ce8;
  --bgn-footer: #2f303a;
  --bgn-section: #f5f4fa;
  --bgn-port: #eeeeee;
  --main-color: #757575;
  --brand-color: #212121;
  --accent-color: #2196f3;
  --secondary-color: #ffffff;
  --logo-color: #000000;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --border-col: #ececec;
  --bgn-box: rgba(47, 48, 58, 0.8);
  --bgn-overlay: rgba(33, 150, 243, 0.9);
  --backdrop-overlay: rgba(0, 0, 0, 0.2);
  --modal-bgn: #ffffff;
  --bgn-border: 1px solid rgba(33, 33, 33, 0.2);
  --label-color: #757575;
  --plh-color: rgba(117, 117, 117, 0.5);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
